.contentWrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 453px; /* conteudo a esquerda, e os 453 px da imagem a direita */
    column-gap: 120px;
    position: relative;
}